/*
* Forside
*/

.text-image,
.faq,
.omos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 80px !important;
}

.content p {
  margin-bottom: 20px;
}

.image-wrapper img {
  border-radius: var(--border-radius);
  object-fit: cover;
  height: 330px;
  
}

.image-wrapper iframe {
  border-radius: var(--border-radius);
  object-fit: contain;
  height: 330px;
  width: 100%;
}

@media (max-width: 800px) {
  .image-wrapper img {
    height: 100%;
  }
}

@media (max-width: 800px) {
  .text-image,
  .faq,
  .omos {
    grid-template-columns: 1fr;
    margin-bottom: 40px !important;
    gap: 10px;
  }
}
.text-image.order .image-wrapper {
  order: -1;
}
@media (max-width: 800px) {
  .text-image.order .image-wrapper {
    order: 1;
  }
}

.text-image,
.content {
  margin: auto 0;
  /*text-align: center;*/
}

.text-image, .content h2 {
  margin-bottom: 15px;
}

.instagram {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 800px) {
  .instagram {
    grid-template-columns: 1fr;
  }
}
/*Flex*/
.flex {
  display: flex;
}

/*
*
*/

.kontakt-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  border: 2px solid var(--primary);
  min-height: 500px;
}

@media (max-width: 800px) {
  .kontakt-form {
    grid-template-columns: 1fr;
  }
}

.kontakt-form .kontakt-image {
  border-radius: 0;
  height: 500px;
}

.kontakt-form .kontakt-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .kontakt-form .kontakt-image {
    border-radius: 0;
    height: 300px;
  }
}

.kontakt-form .content {
  text-align: center;
  margin: auto 0;
}
@media (max-width: 800px) {
  .kontakt-form .content {
    margin-bottom: 30px;
  }
}

.kontakt-form img {
  height: 40px;
  margin-bottom: 20px;
}

.kontakt-form .content p {
  margin-bottom: 20px;
}

.kontakt-form .content h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
