/*
* Forside
*/

.text-image,
.kontakt-form,
.faq,
.omos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 80px !important;
}

@media (max-width: 800px) {
  .text-image,
  .kontakt-form,
  .faq,
  .omos {
    grid-template-columns: 1fr;
  }
}
.text-image.order .image {
  order: -1;
}
@media (max-width: 800px) {
  .text-image.order .image {
    order: 1;
  }
}

.text-image,
.kontakt-form,
.content {
  margin: auto 0;
  /*text-align: center;*/
}

.image {
  height: 400px;
  width: 100%;
  border-radius: var(--border-radius);
  background: #cacaca;
}

.instagram {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 800px) {
  .instagram {
    grid-template-columns: 1fr;
  }
}
/*Flex*/
.flex {
  display: flex;
}
