* {
  padding: 0;
  margin: 0;
}

html {
  --primary: #d45354;
  --font: "theFont", sans-serif;
  --transiton: all 1s ease-in-out;
  --background: #f5f7f0;
}

body {
  background-color: var(--background);
}

main {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 20px;
}

main.mainMenu {
  max-width: inherit;
}

/*
* Header
*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0px;
  background-color: var(--background);
  margin-bottom: 30px;
  max-width: 1200px;
  margin: 0px auto;
}

header img {
  height: 40px;
}
nav {
  margin-left: auto;
  margin-right: 20px;
}

.logo {
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 18px;
  font-size: 20px;
}
li {
  margin: auto 0;
}
li a {
  text-decoration: none;
  color: #000;
}
li a:hover {
  color: var(--primary);
}
li a.active {
  color: var(--primary);
}

a svg {
  fill: var(--primary);
  stroke: var(--primary);
}

/* 
* Burgermenu 
*/
@media (max-width: 800px) {
  .logo {
    position: relative;
    z-index: 100;
  }
  #menu-primary {
    position: fixed;
    top: 0px;
    bottom: 0px;
    height: 45%;
    width: 100%;
    right: -110%;
    background-color: var(--background);
    transition: var(--transiton);
  }
  #menu-primary.active {
    right: -10%;
  }

  #menu-primary ul {
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }
  .toggle {
    display: flex !important;
    border: 0px;
    background: transparent;
    align-items: center;
    z-index: 100;
  }

  .toggle .line {
    height: 2px;
    width: 30px;
    background: var(--primary);
    display: block;
    position: relative;
  }
  .toggle .line:after {
    content: "";
    height: 2px;
    width: 30px;
    background: var(--primary);
    display: block;
    position: absolute;
    top: -8px;

    transition: var(--transiton);
  }
  .toggle .line:before {
    content: "";
    height: 2px;
    width: 30px;
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: -8px;

    transition: var(--transiton);
  }

  .toggle.active .line {
    background: transparent !important;
  }
  .toggle.active .line:after {
    top: 0px;
    transform: rotate(45deg);
  }
  .toggle.active .line:before {
    top: 0px;
    transform: rotate(-45deg);
  }
}

/*Text, fonts etc*/
@font-face {
  font-family: "theFont";
  src: url(/font/ApercuPro.woff2) format("woff2"),
    url(/font/ApercuPro.woff) format("woff");
}

h1 {
  font-family: var(--font);
  font-size: 48px;
}

h2 {
  font-family: var(--font);
  font-size: 40px;
}

h3 {
  font-family: var(--font);
  font-size: 36px;
}

h4 {
  font-family: var(--font);
  font-size: 30px;
}

p {
  font-family: var(--font);
  font-size: 18px;
}

a {
  font-family: var(--font);
  font-size: 18px;
}

.ta-center {
  text-align: center;
}

/*Button*/
a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
}

.btn {
  display: block;
  width: 140px;
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  line-height: 25px;
  text-decoration: none;
  border: solid 2px var(--primary);
}

.btn:hover {
  border: solid 2px var(--primary);
  background-color: var(--background);
  color: var(--primary);
}

/*Menu*/
.pdf {
  height: 90%;
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
}

#menuPopup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#winePopup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#barPopup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.close {
  font-family: var(--font), sans-serif;
  font-size: 20px;
  color: var(--background);
  padding: 5px;
}

.closeDiv {
  text-align: right;
  cursor: pointer;
}

.mainMenu {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/IMG_3268.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.menuContainer {
  border: 3px solid white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btnContainer {
  justify-content: center;
  display: flex;
  gap: 30px;
}

/*FAQ*/
.faqBox {
  transition: var(--transiton);
  border: 3px solid var(--primary);
  background-color: var(--primary);
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  margin-top: 17px;
  cursor: pointer;
  color: var(--background);
}

.faqBox:hover {
  background-color: var(--background);
  color: var(--primary);
}

.activeFaq {
  background-color: var(--background);
}

.activeFaq h1 {
  color: var(--primary);
}

.activeFaq .plus {
  rotate: 45deg;
}

.faqText {
  margin-right: auto;
  margin-left: 20px;
}

.faqAnswer {
  color: black;
}

.plus {
  transition: var(--transiton);
  margin-right: 20px;
}

.popud {
  transition: max-height 4s ease-in-out;
  transition: var(--transiton);
  max-height: 0;
  overflow: hidden;
}

.faqanimation {
  transition: max-height 4s ease-in-out;
  max-height: 1000px;
}

/*
*Footer
*/
footer {
  margin-top: 50px;
  background-color: var(--background);
  border-top: 1px solid var(--primary);
}

.inner-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 200px;
  padding: 100px 0;
  max-width: 1200px;
  margin: 0px auto;
}
@media (max-width: 800px) {
  .inner-footer {
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
    padding: 50px 20px;
  }
}

footer .inner-footer .logo img {
  width: 100%;
}
