* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f7f0;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 20px;
}

/*
* Header
*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  top: 0px;
  background: #f5f7f0;
  margin-bottom: 30px;
}

header img {
  height: 40px;
}
nav {
  margin-left: auto;
  margin-right: 20px;
}

.logo {
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 18px;
  font-size: 20px;
}
li a {
  text-decoration: none;
  color: #000;
}
li a:hover {
  color: #d45354;
}
li a.active {
  color: #d45354;
}

/* 
* Burgermenu 
*/
@media (max-width: 800px) {
  .logo {
    position: relative;
    z-index: 100;
  }
  #menu-primary {
    position: fixed;
    top: 0px;
    bottom: 0px;
    height: 45%;
    width: 100%;
    right: -110%;
    background: #f5f7f0;
    transition: all 0.2s ease-in-out;
  }
  #menu-primary.active {
    right: -10%;
  }

  #menu-primary ul {
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }
  .toggle {
    display: flex !important;
    border: 0px;
    background: transparent;
    align-items: center;
    z-index: 100;
  }

  .toggle .line {
    height: 2px;
    width: 30px;
    background: #d45354;
    display: block;
    position: relative;
  }
  .toggle .line:after {
    content: "";
    height: 2px;
    width: 30px;
    background: #d45354;
    display: block;
    position: absolute;
    top: -8px;

    transition: all 0.2s ease-in-out;
  }
  .toggle .line:before {
    content: "";
    height: 2px;
    width: 30px;
    background: #d45354;
    display: block;
    position: absolute;
    bottom: -8px;

    transition: all 0.2s ease-in-out;
  }

  .toggle.active .line {
    background: transparent !important;
  }
  .toggle.active .line:after {
    top: 0px;
    transform: rotate(45deg);
  }
  .toggle.active .line:before {
    top: 0px;
    transform: rotate(-45deg);
  }
}

/*Text, fonts etc*/
@font-face {
  font-family: "theFont";
  src: url(/font/ApercuPro.woff2) format("woff2"),
    url(/font/ApercuPro.woff) format("woff");
}

h1 {
  font-family: "theFont", sans-serif;
  font-size: 48px;
}

h2 {
  font-family: "theFont", sans-serif;
  font-size: 40px;
}

h3 {
  font-family: "theFont", sans-serif;
  font-size: 36px;
}

h4 {
  font-family: "theFont", sans-serif;
  font-size: 30px;
}

p {
  font-family: "theFont", sans-serif;
  font-size: 18px;
}

a {
  font-family: "theFont", sans-serif;
  font-size: 18px;
}

.ta-center {
  text-align: center;
}

/*Button*/
.btn {
  display: block;
  width: 100px;
  height: 20px;
  background-color: #d45354;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  line-height: 25px;
  text-decoration: none;
  margin: 10px;
  border: solid 2px #d45354;
}

.btn:hover {
  border: solid 2px #d45354;
  background-color: #f5f7f0;
  color: #d45354;
}

/*Menu*/
.pdf {
  height: 90%;
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
}

#menuPopup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#winePopup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#barPopup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.close {
  font-family: "theFont", sans-serif;
  font-size: 20px;
  color: #f5f7f0;
  padding: 5px;
}

.closeDiv {
  text-align: right;
  cursor: pointer;
}

/*FAQ*/
.faqBox {
  border: 3px solid #d45354;
  background-color: #d45354;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  margin-top: 17px;
  cursor: pointer;
  color: #f5f7f0;
}

.faqBox:hover {
  background-color: #f5f7f0;
  color: #d45354;
}

.faqText {
  margin-right: auto;
  margin-left: 20px;
}

.faqAnswer {
  color: black;
}

.plus {
  margin-right: 20px;
}

.popud {
  display: none;
}
